@model List<TorneioLutas.Models.Lutador>

@{
    ViewBag.Title = "Início Torneio";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Torneio de Lutas</h2>

    </div>
</div>


<div class="bd-example">
    <div class="text-danger" style="margin-bottom:10px">@TempData["Msg"]</div>
    @using (Html.BeginForm("Index", "Torneio", FormMethod.Post, new { id = "form1" }))
    {
        <div class="row">
            <div class="text-center">
                <button type="submit" id="btnIniciarTorneio" name="btnIniciarTorneio" class="btn btn-primary">Iniciar</button>
            </div>
        </div>

        <div class="row">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="col-md-3 mt-4" onclick="checkCard(this)">
                    <div class="card text-center">
                        <div class="card-body" id="card">
                            <h5 class="card-title">@Html.CheckBoxFor(m => m[i].selecionado, new { style = "transform: scale(1.5);-webkit-transform: scale(1.5);" }) @Model[i].nome</h5>
                            @Html.HiddenFor(model => model[i].nome)
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row text-center" style="padding-left: 60px;">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><b>Idade:</b>  @Model[i].idade</li>
                                    <li><b>Lutas:</b>  @Model[i].lutas</li>
                                    <li><b>Derrotas:</b> @Model[i].derrotas</li>
                                    <li><b>Vitórias:</b>  @Model[i].vitorias</li>
                                    <li><b>Artes Marciais:</b>  @Model[i].artesMarciais.Count()</li>
                                    @Html.HiddenFor(model => model[i].idade)
                                    @Html.HiddenFor(model => model[i].lutas)
                                    @Html.HiddenFor(model => model[i].derrotas)
                                    @Html.HiddenFor(model => model[i].vitorias)
                                    @Html.HiddenFor(model => model[i].artesMarciais)
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }


</div>

<script type="text/javascript">


    function checkCard(card) {
        var cbs = card.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = !cbs[i].checked;
            }
        }
    }

</script>

